<div th:fragment="viewproduct">
	<div class="row" th:if="${product != null}" th:object="${product}">
		<div
			th:replace="~{components/components::viewfield(#{product.id},*{id},4)}"></div>
		<div
			th:replace="~{components/components::viewfield(#{product.id},*{name},4)}"></div>
		<div
			th:replace="~{components/components::viewfield(#{product.price},*{price},4)}"></div>
		<div
			th:replace="~{components/components::viewfield(#{product.category},*{category.name},4)}"></div>
		<div
			th:replace="~{components/components::viewtext(#{product.shortDescription},${shortDescription},12)}"></div>
		<div
			th:replace="~{components/components::viewtext(#{product.description},${description},12)}"></div>
		<div
			th:replace="~{components/components::viewimg(#{product.imageprin},${imageprin},4)}"></div>
		

	</div>

	<div class="row" th:if="${product == null}">
		<div class="col-sm-12" th:text="#{product.notfound}"></div>


	</div>

	<div class="row" style="margin-top: 1em; text-align: right;">
		<div class="col-sm-12">
			<a class="btn btn-secondary" th:href="${@environment.getProperty('url.product.base')+@environment.getProperty('url.product.list')}" th:text="#{return}">Volver</a>
		</div>


	</div>
</div>

