<html>
<head th:replace="~{layout/scripts::scripts(${css},${js})}"></head>

<body>
	<div th:replace="~{layout/header::header}"></div>
	
	
	<div class="container" >
		<div class="row">
			<div class="col-sm-12">
				<h1 th:text="${title}"></h1>
			</div>
		</div>
		
		<div th:replace="${fragmentfile}::${fragmentname}"></div>
		
	</div>
	
	<div th:replace="~{layout/footer::footer}"></div>


</body>


</html>