<div th:fragment="viewfield(label,value,col)" th:class="${'col-sm-'+col+' fieldview'}">
	<span class="label" th:text="${label}">Id</span>
	<span class="value" th:text="${value}">Nombre</span>
</div>

<div th:fragment="viewtext(label,value,col)" th:class="${'col-sm-'+col+' fieldview'}">
	<span class="label" th:text="${label}">Id</span>
	<p class="value" th:text="${value}">Nombre</p>
</div>


<div th:fragment="viewimg(label,value,col)" th:class="${'col-sm-'+col+' fieldview'}" th:if="${value != null}">
	<span class="label" th:text="${label}">Id</span>
	<img th:src="${'/image/' + value}" />
</div>


<div th:fragment="fieldInput(label,type,field,readonly,col)" th:class="${'col-sm-'+col+' fieldform'}">
	<label for="exampleFormControlInput1" class="form-label" th:text="${label}"></label>
    <input th:type="${type}" class="form-control" th:id="${field}" th:readonly="${readonly}" th:field="*{__${field}__}">
</div>

<div th:fragment="fieldTextarea(label,field,readonly,col)" th:class="${'col-sm-'+col+' fieldform'}">
	<label for="exampleFormControlInput1" class="form-label" th:text="${label}"></label>
    <textarea class="form-control" th:id="${field}" th:readonly="${readonly}" th:field="*{__${field}__}"/>
</div>

<div th:fragment="fieldImage(label,idimage,value,idbutton,field,idinputfile,inputfield,iderror, col)" th:class="${'col-sm-'+col+' fieldform'}" style="display:flex; flex-direction: column">
	<label for="exampleFormControlInput1" class="form-label" th:text="${label}"></label>
	<img th:id="${idimage}" th:src="${'/image/' + value}" th:class="${'filedimage ' + (value == null || value == ''?'hiddenimage':'')}"/>
	<button class="btn btn-primary" th:id="${idbutton}" type="button" th:text="#{upload.image}"></button>
	<input th:type="text" class="form-control" th:id="${inputfield}" th:name="${field}" th:field="*{__${field}__}" style="display:none;" />
	<label th:id="${iderror}" class="labelerror"></label>
	
	<script type="text/javascript" th:inline="javascript">
		$(function(){
			var idbutton = "#"+/*[[${idbutton}]]*/ 1;
			var idinputfile = "#"+/*[[${idinputfile}]]*/ 1;
			
			$(idbutton).on('click', function(e){
				$(idinputfile).click();
			});
		});
		
	</script>
	
</div>

<div th:fragment="selectorform(field,label,col,list)" th:class="${'field col-sm-'+col}">
	  <label class="form-label" th:text=${label}></label>
  	  <select class="form-select" th:field="*{__${field}__}">
	    <option th:value="NULL" th:text="---Selecciona---"></option>
    	<option th:each="element : ${list}" th:value="${element.id}" th:text="${element.name}"></option>
	  </select>
</div>


<div th:fragment="formimage(idform, idinput, inputfield, idimage, iderror)" style="display:none">

	<form method="post" th:action="@{/image/upload}" enctype="multipart/form-data" th:id="${idform}">
		<div class="form-group">
			<input type="file" name="fichero" accept="image/*" class="form-control-file" th:id="${idinput}">
		</div>
	</form>	
	
	<script type="text/javascript" th:inline="javascript">
	
		var idClient = /*[[${@environment.getProperty('url.category.base')}]]*/ 1;	
		
		var idform = "#"+/*[[${idform}]]*/ 1;
		var idinput = "#"+/*[[${idinput}]]*/  1;
		var inputfield = "#"+/*[[${inputfield}]]*/  1;
		var idimage = "#"+/*[[${idimage}]]*/  1;
		var iderror = "#"+/*[[${iderror}]]*/  1;
	
		
		
		async function sendData(url, data){
			
			$(iderror).text('');
			
			const response = await fetch(url, {
				method: 'POST',
				headers: {
					'Accept': 'application/json'
				},
				body: data
			}); 
			
			
			response.json().then((data) => {
				$(idinput).val("");
				
				if(data.state){
					$(idimage).attr("src", '/image/'+data.data);
					$(inputfield).val(data.data);
					$(idimage).removeClass('hiddenimage');
				} else {
					$(iderror).text(data.data);
				}
				
			}).catch((error) => {
				$(iderror).text(error);
			});
			
		}
		
		$(function(){
			$(idinput).on('change',function(){
				$(idform).submit();
			});
			
			$(idform).on('submit',function(evt){
				evt.stopPropagation();
			
				$(idimage).addClass('hiddenimage');
				
				var idformraw = /*[[${idform}]]*/ 1;
				
				var form = document.getElementById(idformraw);
				var data = new FormData(form);
				
				sendData($(this).attr('action'),data);
				
				return false;
			});
			
		});
	
	</script>
	
</div>



<div th:fragment="modaldelete(text)">

	<div class="modal" tabindex="-1" id="confirmdelete">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">¿Estas seguro que deseas borrarlo?</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <p th:text="${text}"> </p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
	        <button type="button" class="btn btn-primary" id="buttonconfirm">Si</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<script type="text/javascript" th:inline="javascript">
		
		$(function(){
			$('.btndel').on('click',function(evt){
				debugger;
				evt.stopPropagation();
				
				$('#buttonconfirm').attr('data-url',$(this).attr('data-url'));
				$('#confirmdelete').modal('show');
				
				return false;
			});
			
			$('#buttonconfirm').on('click', function(evt){
				var url = $(this).attr('data-url');
				
				window.location.href=url;
			});
			
		});
	
	</script>
</div>