<div th:fragment="viewclient">
	<div class="row" th:if="${client != null}">
		<div
			th:replace="~{components/components::viewfield(#{client.id},${client.id},4)}"></div>
		<div
			th:replace="~{components/components::viewfield(#{client.vat},${client.vat},4)}"></div>
		<div
			th:replace="~{components/components::viewfield(#{client.name},${client.name},4)}"></div>
		<div
			th:replace="~{components/components::viewfield(#{client.comercialName},${client.comercialName},4)}"></div>
		<div
			th:replace="~{components/components::viewfield(#{client.email},${client.email},4)}"></div>
		<div
			th:replace="~{components/components::viewfield(#{client.phone},${client.phone},4)}"></div>
		<div
			th:replace="~{components/components::viewfield(#{client.contactName},${client.contactName},4)}"></div>
		<div
			th:replace="~{components/components::viewfield(#{client.contactEmail},${client.contactEmail},4)}"></div>
		<div
			th:replace="~{components/components::viewfield(#{client.contactPhone},${client.contactPhone},4)}"></div>

		<div class="col-sm-12"
			th:if="${client.street != null && client.street.id != null}">

			<div class="row" th:object="${client.street}">
				<div class="col-sm-12">
					<h3>Dirección</h3>
				</div>
				<div th:replace="~{components/components::viewfield(#{street.id},*{id},4)}"></div>
				<div
					th:replace="~{components/components::viewfield(#{street.street},*{street},4)}"></div>
				<div
					th:replace="~{components/components::viewfield(#{street.number},*{number},4)}"></div>
				<div
					th:replace="~{components/components::viewfield(#{street.postalcode},*{postalcode},4)}"></div>
				<div
					th:replace="~{components/components::viewfield(#{street.city},*{city},4)}"></div>
				<div
					th:replace="~{components/components::viewfield(#{street.country},*{country},4)}"></div>


			</div>

		</div>


	</div>

	<div class="row" th:if="${client == null}">
		<div class="col-sm-12">No se ha encontrado el cliente solicitado
		</div>


	</div>

	<div class="row" style="margin-top: 1em; text-align: right;">
		<div class="col-sm-12">
			<a class="btn btn-secondary" th:href="${@environment.getProperty('url.client.base')+@environment.getProperty('url.client.list')}" th:text="#{return}">Volver</a>
		</div>


	</div>
</div>

