.footer{
	background: #77f;
	text-align: center;
	padding: 3em 1em;
	color: white;
}

.btntable {
	display: inline-block;
	width: 30px;
	height: 30px;
	padding-top: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	text-align: center;
	margin: 0px 0px 0px 6px;
	text-decoration: none;
}

.btntable.btneye{
	background: green;
	border-color: green;
	color: white;
}

.btntable.btnedit{
	background: blue;
	border-color: blue;
	color: white;
}

.btntable.btndel{
	background: red;
	border-color: red;
	color: white;
}

.container{
	min-height: calc(100vh - 60px - 7em);
}


.pagination a {
	display: inline-block;
	width: 30px;
	height: 30px;
	padding-top: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	text-align: center;
	margin: 0px 0px 0px 6px;
	text-decoration: none;
}

.pagination span {
	display: inline-block;
	padding: 0 0.2em;
}

.fieldview{
	display:flex;
	flex-direction: column;
	margin-top: 1em;
}

.fieldview .label {
	font-style: italic;
	color: #c3c3c3;
	font-size: 0.9em;
}

.fieldview .value {
	border-bottom: 1px solid #000;
	min-height: 1.5em;
}

.filedimage {
	width: 100px;
}
.filedimage.hiddenimage {
	display:none;
}

.labelerror {
	color: red;
	font-style: italic;
}

.language {
	display: inline-block;
	padding: 0 10px;
	margin: 0 4px;
	cursor: pointer;
	font-weight: bold;
}